@mixin flexCenterCol {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0;
    margin: 10px 0;
    height: 35px;
}

@mixin folder_button {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    padding: 0;
    margin: 5px;
}

@mixin folder_title {
    background-color: transparent;
    color: white;
    border: 0;
    flex: 1;
    height: 100%;
}

* {
    appearance: none;
     box-sizing: border-box;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     :focus {
        outline: none;
     }
    background-repeat: no-repeat;
    background-position: center;
 }

body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
button {
    cursor: pointer;
}



#left_panel {
    background-color: rgb(172, 172, 172);
    @include flexCenterCol();
    padding: 10vh 5px;
    overflow-y: auto;
    form {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin: 30px 0;
    }
    #folders {
        width: 100%;
    }
    .folder {
        background-color: rgb(33, 33, 33);
        @include folder();
        #btn button {
            @include folder_button();
        }
        .folder_title {
            @include folder_title();
        }
        input {
            width: 100%;
            @include folder_title();
            cursor: pointer;
            :focus {
            
            }
        }
    }
    #folder_completed {
            background-color: rgb(158, 200, 96);
            @include folder();
            .folder_title {
                @include folder_title();
            }
    }
    #folder_notCompleted {
            background-color: rgb(149, 45, 45);
            @include folder();
            .folder_title {
                @include folder_title();
            }
    }
}

#right_panel {
    background-color: beige;
    @include flexCenterCol();
}