@mixin flexCenterCol {
    display: flex;
    align-items: center;
    flex-direction: column;
}

@mixin folder {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding: 0 3px;
    margin: 10px 0;
    height: 35px;
}

@mixin folder_button {
    height: 30px;
    width: 30px;
    border: 1px solid black;
    padding: 0;
    margin: 0;
}

@mixin folder_title {
    background-color: transparent;
    color: white;
    border: 0;
    height: 100%;
}

* {
   // appearance: none;
     box-sizing: border-box;
     font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
     :focus {
        outline: none;
    }
    background-repeat: no-repeat;
    background-position: center;
 }

body {
    height: 100vh;
    width: 100%;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 1fr 3fr;
}
button {
    cursor: pointer;
}



#left_panel {
    background-color: rgb(172, 172, 172);
    @include flexCenterCol();
    padding: 10vh 5px;
    overflow-y: auto;
    form {
        display: flex;
        justify-content: center;
        gap: 10px;
        flex-wrap: wrap;
        margin: 30px 0;
    }
    #folders {
        width: 100%;
    }
    .folder {
        background-color: rgb(33, 33, 33);
        @include folder();
        #btn {
            display: flex;
            justify-content: space-between;
            gap: 10px;
            button {
                @include folder_button();
            }
        }
        .folder_title {
            @include folder_title();
            flex: 1;
        }
        input {
            width: 100%;
            @include folder_title();
            flex: 1;
            cursor: pointer;
        }
    }
    #folder_completed {
            background-color: rgb(158, 200, 96);
            @include folder();
            .folder_title {
                @include folder_title();
                flex: 1;
            }
    }
    #folder_notCompleted {
            background-color: rgb(149, 45, 45);
            @include folder();
            .folder_title {
                @include folder_title();
                flex: 1;
            }
    }
}

#right_panel {
    background-color: beige;
    @include flexCenterCol();
    overflow-y: auto;
    padding: 10px 10px;
    #tasks {
        width: 95%;
        .task {
            background-color: rgb(33, 33, 33);
            width: 100%;
            color: white;
            display: flex;
            justify-content: space-between;
            align-items: center;
            gap: 20px;
            margin: 30px 0;
            padding: 10px;
            height: 50px;
            input[type="text"] {
                flex: 1;
            }
            input[type="checkbox"] {
                width: 20px;
                height: 20px;
                align-items: center;
            }
            input:read-only:not([type='checkbox']) {
                @include folder_title();
            }
            #btn {
                display: flex;
                justify-content: space-between;
                align-items: center;
                gap: 10px;
                button {
                    @include folder_button();
                }
            }
        }
    }
}